@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}


a.nav-link, a.nav-link.dropdown-toggle {
  color: #292929;

  font-weight:500  ;
  font-size: medium;
}

a.nav-link:hover {
  color: #333333;
  text-decoration: underline;
}

/* Navbar css */
.navbar {
  background: #f5efe7;
}


.offcanvas-header{
  background:#ffffff;
}

.html{
  scroll-behavior: smooth;
}


.navbar .navbar-nav .nav-item:last-child {
  margin-right: 60px;
}

.navbar-brand {
  margin-left: 70px;
  
}

.card{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}


.card2{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.card3{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}


.card-img-top{
  height: 320px;
}

.img-container1{
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.img-container2{
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 40px;
}