@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container_2 {
  overflow-y: auto; /* Add vertical scroll if the content exceeds the container height */
  padding: 30px;
  border: 1px solid #eeee;
  border-radius: 10px;
  background-color: #003b5b;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 450px;
}

.container h4 {
  margin-bottom: 10px;
  font-size: 24px;
  color: white;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#submit {
  border: none;
  background-color: orangered;
  color: white;
  width: 200px;
  margin-top: 10px;
  border-radius: 5px;
}

#submit:hover {
  background-color: #333;
}



a.nav-link, a.nav-link.dropdown-toggle {
  color: #292929;

  font-weight:500  ;
  font-size: medium;
}

a.nav-link:hover {
  color: #333333;
  text-decoration: underline;
}

/* Navbar css */
.navbar {
  background: #f5efe7;
}


.offcanvas-header{
  background:#ffffff;
}

.html{
  scroll-behavior: smooth;
}


.navbar .navbar-nav .nav-item:last-child {
  margin-right: 60px;
}

.navbar-brand {
  margin-left: 70px;
  
}

.breadList{
  box-shadow: 0px 2px 5px;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 10px;
}

.qty{
  box-shadow: 0px 2px 5px;
  border-radius: 5px;
  height: 50px;
  width: 250px;
}